# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.sqlite3
*.db